h1 {
    background: red;
}

.paragraph-1 {
    background: blue;
    font-size: 32pt;
    color: white;
}

.paragraph-2 {
    border: 10px solid yellow;
    border-radius: 5px;
    font-size: 24pt;
    margin-bottom: 60px;
    padding-bottom: 60px;
}

.paragraph-3 {
    background: green;
    font-size: 36pt;
}

.paragraph-4 {
    font-size: 24pt;
    font-style: oblique;
    text-align: center;
    text-shadow: 1px 2px 2px green;
}